# Local and Editors
.DS_Store
.idea
*.sql
*.log

# Composer Installations
/vendor
/composer.lock

# Makefile Results
/phpcs*.txt
/phpunit*.txt

# Local Tooling Files
/.phpunit.result.cache
/package.xml
